<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-image: linear-gradient(rgba(243, 175, 175, 0), rgb(141, 220, 235),rgb(220, 165, 241));
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Update|TaskList</title>
</head>

<body>
    <div> 
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Update</a>
        </nav>
    </div>
    <div class="py-2 container">
        <h2 class="mt-1">Update Here Your ToDo List</h2>
        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputtext1" class="form-label">Title</label>
                <input type="text" class="form-control" id="" name="title" value="{{tasks.title}}">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Description</label>
                <input type="text" class="form-control" id="" name="description" value="{{tasks.description}}">
            </div>
            <div class="mb-3">
                <label for="exampleInputnumber1" class="form-label">Date</label>
                <input type="date" class="form-control" id="exampleInputdate1" name="date" value="{{tasks.date}}">
            </div>
            <button type="submit" class="btn btn-primary">update</button>
        </form>
    </div>
    
    <!-- Remove the container if you want to extend the Footer to full width. -->
<div class="">
    <footer class="text-center text-white" style="background-color: #94b3e2;">
     <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-dark" href="#">SpSharma</a>
    </div>
    <!-- Copyright -->
  </footer>
    
  </div>
  <!-- End of .container -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>