<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-image: linear-gradient(rgba(243, 175, 175, 0), rgb(141, 220, 235),rgb(220, 165, 241));
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">


    <title>TaskList</title>
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Home</a>
            <a class="btn btn-primary float-right" href="signout" role="button"><button type="button"
                    class="btn btn-danger">Logout</button></a>
        </nav>
    </div>
    <div class="py-2 container">
        <h2 class="mt-1">Hello {{request.user}}|Add Your ToDo List Here.</h2>
        <form action="addtask" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputtext1" class="form-label">Title</label>
                <input type="text" class="form-control" id="" name="title" value="">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Description</label>
                <input type="text" class="form-control" id="" name="description" value="">
            </div>
            <div class="mb-3">
                <label for="exampleInputnumber1" class="form-label">Date</label>
                <input type="date" class="form-control" id="exampleInputdate1" name="date" value="">
            </div>
            <button type="submit" class="btn btn-primary">AddTask</button>
        </form>
    </div>
    <div class="py-3 container">
        <h2 class="mt-1">My ToDo List </h2>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date</th>
                    <th scope="col">Actions</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for i in tasks%}
                    <!-- <th scope="row">1</th> -->
                    <td>{{i.title}}</td>
                    <td>{{i.description}}</td>
                    <td>{{i.date}}</td>
                    <td><a class="btn btn-light btn-sm" href="edit/{{i.id}}" role="button"><button type="button"
                                class="btn btn-warning btn-sm">Edit</button></a></td>
                    <td><a class="btn btn-light btn-sm" href="delete/{{i.id}}" role="button"><button type="button"
                                class="btn btn-danger btn-sm">Delete</button></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- End of .container -->
    <!-- Remove the container if you want to extend the Footer to full width. -->
    <div class="">
        <footer class="text-center text-white" style="background-color: #b7acf5;">
            <!-- Copyright -->
            <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2023 Copyright:
                <a class="text-dark" href="#">SpSharma</a>
            </div>
            <!-- Copyright -->
        </footer>

    </div>
    <!-- End of .container -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>